<template>
  <v-container>
    <v-row justify="center" align="center" row>

      <v-col justify="center" sm="10" md="6" lg="6">
        <v-card class="pa-4" height="600">
          <h3>Medical Doctors</h3>
          <br>
          <v-btn-toggle
              v-model="doctors_form"
              borderless
          >
            <v-btn value="new" small>
              <span>Submit New Sample</span>
              <v-icon right> mdi-plus</v-icon>
            </v-btn>

            <v-btn value="get" small>
              <span>Get Sample Information</span>
              <v-icon right> mdi-information-outline</v-icon>
            </v-btn>
          </v-btn-toggle>
          <v-divider class="mt-2 mb-2"></v-divider>
          <SubmissionForm v-if="doctors_form==='new'" :api_domain="api_domain"></SubmissionForm>
          <QueryForm v-if="doctors_form==='get'" :api_domain="api_domain"></QueryForm>
        </v-card>
      </v-col>

      <v-col justify="center" sm="10" md="6" lg="6">
        <v-card class="pa-4" height="600">
          <h3>Lab Technicians</h3>
          <UpdateForm :api_domain="api_domain"></UpdateForm>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

import SubmissionForm from '@/components/SubmissionForm';
import QueryForm from '@/components/QueryForm';
import UpdateForm from '@/components/UpdateForm';

export default {
  name: 'HomePage',
  components: {SubmissionForm, QueryForm, UpdateForm},
  data: () => ({
    doctors_form: "new",
    api_domain: "http://127.0.0.1:5000"
  })
}
</script>
