<template>
  <v-row>
    <v-col>
      <v-row>
        <v-col>
          <v-subheader class="pl-0">
            <strong>
              Get Sample Information
            </strong>
          </v-subheader>
          <v-form ref="submission_form" v-model="valid_submission" lazy-validation>
            <v-textarea v-model="query_token" :rules="tokenRules" dense outlined rows="4" label="Sample Access Token" persistent-hint hint="Required"></v-textarea>
            <div>
              <v-btn small color="info" @click="querySample">Query</v-btn>
              <p class="pt-2" style="color: red; font-size: 0.9em;" v-if="error_message">{{error_message}}</p>
            </div>
          </v-form>
        </v-col>
      </v-row>
      <v-row v-if="sample_information">
        <v-col>
          <v-subheader class="pl-0">
            <strong>
              Sample Information
            </strong>
          </v-subheader>
          <p>
            <ul style="list-style-type: none;">
              <li v-if="sample_information.patient_pseudonym">
                <strong>Patient Pseudonym</strong>: {{sample_information.patient_pseudonym }}
              </li>
              <li v-if="sample_information.collection_date">
                <strong>Collection Date</strong>: {{sample_information.collection_date }}
              </li>
              <li v-if="sample_information.submitter_email">
                <strong>Submitter Email</strong>: {{sample_information.submitter_email }}
              </li>
              <li v-if="sample_information.test_date">
                <strong>Test Date</strong>: {{sample_information.test_date }}
              </li>
              <li v-if="sample_information.test_result">
                <strong>Test Result</strong>: {{sample_information.test_result }}
              </li>
              <li v-if="sample_information.status">
                <strong>Status</strong>: {{sample_information.status }}
              </li>
            </ul>
          </p>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>

import axios from 'axios'

export default {
  name: 'QueryForm',
  props: ["api_domain"],
  data: () => ({
    valid_submission: false,
    query_token: null,
    sample_information: "",
    error_message: null,
    tokenRules: [
      v => !!v || 'Token is required',
    ]
  }),
  methods: {
    querySample(){
      let that = this
      if( this.$refs.submission_form.validate()) {
        axios.get(that.api_domain+'/api/get_sample', {
        headers: {
          'Authorization': 'Bearer '+that.query_token
        }
      })
          .then(function (response) {
            that.sample_information = response.data
            that.error_message = null
          })
          .catch(function (error) {
            if(error.response && error.response.status === 403){
              that.error_message = "Invalid token"
            }
            else if(error.response && error.response.status === 404){
              that.error_message = error.response.data.message
            }
            else {
              that.error_message = "An unexpected error occurred, please check the token or try again later"
            }
          })
    }
    }
  }
}

</script>