<template>
  <v-row>
    <v-col>
      <v-subheader class="pl-0">
        <strong>
          New Sample Submission
        </strong>
      </v-subheader>
      <v-form ref="submission_form" v-model="valid_submission" lazy-validation>

        <v-text-field counter v-model="patient_pseudonym" :rules="nameRules" label="Patient Pseudonym" required clearable>
        </v-text-field>

        <v-row>
          <v-col>
            <v-text-field v-model="submitter_email" :rules="emailRules" label="Submitter Email" required clearable>
            </v-text-field>
          </v-col>
          <v-col>
            <v-menu ref="collection_date" v-model="collection_date_picker" :close-on-content-click="false"
                    transition="scale-transition" offset-y max-width="290px" min-width="auto">
              <template v-slot:activator="{ on, attrs }">
                <v-text-field v-model="collection_date" label="Collection Date" hint="YYYY-MM-DD format"
                              :rules="dateRules"
                              persistent-hint prepend-icon="mdi-calendar" v-bind="attrs" v-on="on" required clearable></v-text-field>
              </template>
              <v-date-picker v-model="collection_date" no-title @input="collection_date_picker = false">
              </v-date-picker>
            </v-menu>
          </v-col>
        </v-row>

        <v-row row>
          <v-col xs="auto">
            <div>
              <v-btn small color="info" @click="submitSample">Submit</v-btn>
              <p class="pt-2" style="color: red; font-size: 0.9em;" v-if="error_message">{{error_message}}</p>
            </div>
            <br>
            <v-subheader class="pl-0">
              <strong>
                Sample Access Token
              </strong>
              <v-btn v-if="current_token" class="ml-1" icon @click="copytoClipboard">
                <v-icon> mdi-content-copy </v-icon>
              </v-btn>
              <span v-if="current_token && copied">&nbsp;copied to clipboard</span>
            </v-subheader>
            <p v-if="current_token">
              <small>{{current_token}}</small>
            </p>
            <v-subheader v-else class="pl-0">
              Will be generated upon submission.
            </v-subheader>
          </v-col>
        </v-row>
      </v-form>
    </v-col>
  </v-row>
</template>

<script>

import axios from 'axios'

export default {
  name: 'SubmissionForm',
  props: ["api_domain"],
  data: () => ({
    valid_submission: false,
    patient_pseudonym: "",
    collection_date: "",
    submitter_email: "",
    current_token: null,
    copied: false,
    error_message: null,
    nameRules: [
      v => !!v || 'Patient Pseudonym is required',
      v => (v.length >=10 && v.length <= 64) || 'Pseudonym length must be between 10 and 64 characters.',
    ],
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+.com/.test(v) || 'E-mail must be valid',
    ],
    dateRules: [
      v => !!v || 'Date is required',
    ],
    collection_date_picker: false,
  }),
  methods: {
    copytoClipboard(){
      navigator.clipboard.writeText(this.current_token.replace(/\s/g,''));
      this.copied = true
      let that = this
      setTimeout(function(){ that.copied = false }, 2000);
    },
    submitSample() {
      if( this.$refs.submission_form.validate()){
        let data = {
          patient_pseudonym: this.patient_pseudonym,
          collection_date: this.collection_date,
          submitter_email: this.submitter_email
        }
        let that = this
        axios.post(that.api_domain+'/api/submit_sample', data)
            .then(function (response) {
              that.error_message = null
              that.current_token = response.data.access_token || null
            })
            .catch(function (error) {
              if(error.response && error.response.status === 403){
                that.error_message = "Invalid token"
              }
              else if(error.response && error.response.status === 404){
                that.error_message = error.response.data.message
              }
              else {
                that.error_message = "An unexpected error occurred, please check the token or try again later"
              }
            })
      }
    }
  }
}

</script>