<template>
  <v-row>
    <v-col>
      <v-subheader class="pl-0">Update Sample Status</v-subheader>
      <v-form ref="submission_form" v-model="valid_submission" lazy-validation>
        <v-select v-model="status" :rules="statusRules" :items="statusItems" item-text="name" item-value="value" label="Status" clearable></v-select>
        <v-row>
          <v-col>
            <v-select v-model="test_result" :items="resultItems" item-text="name" item-value="value" label="Test Results" clearable></v-select>
          </v-col>
          <v-col>
            <v-menu ref="test_date" v-model="test_date_picker" :close-on-content-click="false"
                    transition="scale-transition" offset-y max-width="290px" min-width="auto">
              <template v-slot:activator="{ on, attrs }">
                <v-text-field v-model="test_date" label="Test Date" hint="YYYY-MM-DD format" persistent-hint
                              prepend-icon="mdi-calendar" v-bind="attrs" v-on="on" clearable></v-text-field>
              </template>
              <v-date-picker v-model="test_date" no-title @input="test_date_picker = false"></v-date-picker>
            </v-menu>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-textarea :rules="tokenRules" v-model="update_token" outlined rows="4" label="Sample Access Token"></v-textarea>
            <v-btn small color="success" @click="updateSample">Update</v-btn>
            <p class="pt-2" style="color: red; font-size: 0.9em;" v-if="error_message">{{error_message}}</p>
            <p class="pt-2" style="color: green; font-size: 0.9em;" v-if="success_message">{{success_message}}</p>
          </v-col>
        </v-row>
      </v-form>

    </v-col>
  </v-row>
</template>

<script>

import axios from 'axios'

export default {
  name: "UpdateForm",
  props: ["api_domain"],
  data: () => ({
    valid_submission: false,
    test_date: null,
    test_result: null,
    test_date_picker: false,
    update_token: null,
    error_message: null,
    success_message: null,
    status: "",
    statusRules: [
      v => !!v || 'Status is required',
    ],
    resultItems: [
      {name: "Positive", value: "positive"},
      {name: "Negative", value: "negative"}
    ],
    statusItems: [
      {name: "Completed", value: "completed"},
      {name: "Failed", value: "failed"}
    ],

    tokenRules: [
      v => !!v || 'Token is required',
    ]
  }),
  methods: {
    updateSample(){
      this.error_message = null
      this.success_message = null

      if( this.$refs.submission_form.validate()) {
        this.error_message = null
        this.success_message = null

        let that = this
        let data = {}

        if(this.status){data['status']=this.status}
        if(this.test_result){data['test_result']=this.test_result}
        if(this.test_date){data['test_date']=this.test_date}

        axios.put(that.api_domain + '/api/update_sample', data, {
          headers: {
            'Authorization': 'Bearer ' + that.update_token
          }
        })
            .then(function () {
              that.error_message = null
              that.success_message = "Updated"
            })
            .catch(function (error) {
              that.success_message = null
              if(error.response && error.response.status === 403){
                that.error_message = "Invalid token"
              }
              else if(error.response && error.response.status === 400){
                that.error_message = error.response.data.message
              }
              else if(error.response && error.response.status === 404){
                that.error_message = error.response.data.message
              }
              else {
                that.error_message = "An unexpected error occurred, please check the token or try again later"
              }
            })
      }
    },
  },
}

</script>